        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="id_id">Id:</label>
            <div class="controls">
              <input type="text" id="id_id" ng-model="form_data.id" placeholder="Id" required>
            </div>
          </div><!-- id -->
          <div class="control-group">
            <label class="control-label" for="id_serialno">Serialno:</label>
            <div class="controls">
              <input type="text" id="id_serialno" ng-model="form_data.serialno" placeholder="Serialno" required>
            </div>
          </div><!-- serialno -->
          <div class="control-group">
            <label class="control-label" for="id_certificate_no">Certificate No:</label>
            <div class="controls">
              <input type="text" id="id_certificate_no" ng-model="form_data.certificate_no" placeholder="Certificate No" required>
            </div>
          </div><!-- certificate_no -->
          <div class="control-group">
            <label class="control-label" for="id_validation_code">Validation Code:</label>
            <div class="controls">
              <input type="text" id="id_validation_code" ng-model="form_data.validation_code" placeholder="Validation Code" required>
            </div>
          </div><!-- validation_code -->
          <div class="control-group">
            <label class="control-label" for="id_model">Model:</label>
            <div class="controls">
              <input type="text" id="id_model" ng-model="form_data.model" placeholder="Model" required>
            </div>
          </div><!-- model -->
          <div class="control-group">
            <label class="control-label" for="id_engineserial">Engineserial:</label>
            <div class="controls">
              <input type="text" id="id_engineserial" ng-model="form_data.engineserial" placeholder="Engineserial" required>
            </div>
          </div><!-- engineserial -->
          <div class="control-group">
            <label class="control-label" for="id_inspection_date">Inspection Date:</label>
            <div class="controls">
              <input type="text" id="id_inspection_date" ng-model="form_data.inspection_date" placeholder="Inspection Date" required>
            </div>
          </div><!-- inspection_date -->
          <div class="control-group">
            <label class="control-label" for="id_printing_workstation">Printing Workstation:</label>
            <div class="controls">
              <input type="text" id="id_printing_workstation" ng-model="form_data.printing_workstation" placeholder="Printing Workstation" required>
            </div>
          </div><!-- printing_workstation -->
          <div class="control-group">
            <label class="control-label" for="id_reason">Reason:</label>
            <div class="controls">
              <input type="text" id="id_reason" ng-model="form_data.reason" placeholder="Reason" required>
            </div>
          </div><!-- reason -->
          <div class="control-group">
            <label class="control-label" for="id_status">Status:</label>
            <div class="controls">
              <input type="text" id="id_status" ng-model="form_data.status" placeholder="Status" required>
            </div>
          </div><!-- status -->
                  
        </form><!-- CertificatePrintm -->