        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="id_id">Id:</label>
            <div class="controls">
              <input type="text" id="id_id" ng-model="form_data.id" placeholder="Id" required>
            </div>
          </div><!-- id -->
          <div class="control-group">
            <label class="control-label" for="id_engineserial">Engineserial:</label>
            <div class="controls">
              <input type="text" id="id_engineserial" ng-model="form_data.engineserial" placeholder="Engineserial" required>
            </div>
          </div><!-- engineserial -->
          <div class="control-group">
            <label class="control-label" for="id_model">Model:</label>
            <div class="controls">
              <input type="text" id="id_model" ng-model="form_data.model" placeholder="Model" required>
            </div>
          </div><!-- model -->
                  
        </form><!-- SerialModel -->