        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="id_id">Id:</label>
            <div class="controls">
              <input type="text" id="id_id" ng-model="form_data.id" placeholder="Id" required>
            </div>
          </div><!-- id -->
          <div class="control-group">
            <label class="control-label" for="id_workstation">Workstation:</label>
            <div class="controls">
              <input type="text" id="id_workstation" ng-model="form_data.workstation" placeholder="Workstation" required>
            </div>
          </div><!-- workstation -->
          <div class="control-group">
            <label class="control-label" for="id_printer_name">Printer Name:</label>
            <div class="controls">
              <input type="text" id="id_printer_name" ng-model="form_data.printer_name" placeholder="Printer Name" required>
            </div>
          </div><!-- printer_name -->
          <div class="control-group">
            <label class="control-label" for="id_ip_address">Ip Address:</label>
            <div class="controls">
              <input type="text" id="id_ip_address" ng-model="form_data.ip_address" placeholder="Ip Address" required>
            </div>
          </div><!-- ip_address -->
          <div class="control-group">
            <label class="control-label" for="id_spool_address">Spool Address:</label>
            <div class="controls">
              <input type="text" id="id_spool_address" ng-model="form_data.spool_address" placeholder="Spool Address" required>
            </div>
          </div><!-- spool_address -->
          <div class="control-group">
            <label class="control-label" for="id_template_path">Template Path:</label>
            <div class="controls">
              <input type="text" id="id_template_path" ng-model="form_data.template_path" placeholder="Template Path" required>
            </div>
          </div><!-- template_path -->
                  
        </form><!-- WorkstationPrinter -->